################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testapp/Testapp/.vs
/testapp/Testapp/Testapp/obj
*.user
/testapp/Testapp/Testapp/bin/Debug/net5.0-windows
